In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('matches.csv')

In [50]:
data.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [ ]:
# Top 5 teams who have played maximum number of matches in the IPL

In [21]:
x=data['team1'].value_counts()

In [20]:
y=data['team2'].value_counts()

In [34]:
z=x+y
#z
z.sort_values(ascending=False)

Mumbai Indians                 157
Royal Challengers Bangalore    152
Kolkata Knight Riders          148
Kings XI Punjab                148
Delhi Daredevils               147
Chennai Super Kings            131
Rajasthan Royals               118
Sunrisers Hyderabad             76
Deccan Chargers                 75
Pune Warriors                   46
Gujarat Lions                   30
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Kochi Tuskers Kerala            14
dtype: int64

In [51]:
z.sort_values(ascending=False).head(5)

Mumbai Indians                 157
Royal Challengers Bangalore    152
Kolkata Knight Riders          148
Kings XI Punjab                148
Delhi Daredevils               147
dtype: int64

In [56]:
#A function which takes 2 inputs, team 1 and team 2 and then return the win loss record between them
def team_record(team1,team2):
    mask1=data['team1']==team1
    mask2=data['team2']==team1
    mask3=data['team1']==team2
    mask4=data['team2']==team2
    data1=data[(mask1 | mask2) & (mask3|mask4 )]
    return data1['winner'].value_counts()

In [57]:
team_record('Mumbai Indians','Royal Challengers Bangalore')

Mumbai Indians                 13
Royal Challengers Bangalore     8
Name: winner, dtype: int64